<div class="panel panel-primary">
            <div class="panel-heading apt-addheading" (click)="toggleForm()">
            <span class="glyphicon glyphicon-plus"></span> Add Appointment</div>
            <div class="panel-body" *ngIf="showForm">
              <form
                    #f="ngForm"
                    class="add-appointment form-horizontal"
                    (ngSubmit)="onSubmit(f.value)"
                    novalidate
                    >
                <div class="form-group">
                  <label class="col-sm-2 control-label">Pet Name</label>
                  <div class="col-sm-10">
                    <input
                            type="text"
                            class="form-control"
                            id="petName"
                            placeholder="Pet's Name"
                            name="petName"
                            required
                            ngModel
                            #petName="ngModel"
                            />

                  </div>

                </div>
                <div class="alert alert-danger"
                     [hidden]="petName.valid || petName.pristine">
                   Pet name is required
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Pet Owner</label>
                  <div class="col-sm-10">
                    <input type="text"
                           class="form-control"
                           id="petOwner"
                           placeholder="Owner's Name"
                           name="petOwner"
                           required
                           ngModel
                           #ownerName
                           />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Date</label>
                  <div class="col-sm-4">
                    <input type="date"
                           class="form-control"
                           id="aptDate"
                           name="aptDate"
                           required
                           ngModel
                           #aptDate
                           />
                  </div>
                  <label class="col-sm-2 control-label">Time</label>
                  <div class="col-sm-4">
                    <input type="time"
                           class="form-control"
                           id="aptTime"
                           name="aptTime"
                           required
                           ngModel
                           #aptTime
                           />
                  </div>

                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Apt. Notes</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" rows="4" cols="50"
                      id="aptNotes" placeholder="Appointment Notes"
                      name="aptNote"
                        ngModel
                        required
                        #aptNote




                      ></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary pull-right">Add Appointment</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
