@import 'colors.scss';
@import 'mixins.scss';
@keyframes showBody {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.glyphicon.glyphicon-plus {
}

.panel-body {
  animation: showBody 1s ease both;

}
.panel.panel-primary {
  border-color: $sky;
  -webkit-box-shadow: 0px 6px 14px -2px rgba(0,0,0,0.52);
  -moz-box-shadow: 0px 6px 14px -2px rgba(0,0,0,0.52);
  box-shadow: 0px 6px 14px -2px rgba(0,0,0,0.52);


}
.panel-heading.apt-addheading {
  // background-color: $sky;
  border: none;
  @include panelGradient;
}
.panel-heading.apt-addheading:hover {
  cursor: pointer;
}
.btn.btn-primary.pull-right {
  background-color: $sky;
  border-color: $sky;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  &:hover {
    background-color: darken($sky, 20%);
    border-color: darken($sky, 20%);
  }
}
.btn.btn-primary.pull-right:hover {

}
.alert.alert-danger {
  animation: showBody 1s ease both;
  text-align: center;
}
input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border-color: rgba(222,22,22,1);
}
