<li class="media" *ngFor="let item of data; let i = index;" [@aptDelete]="item.state">
  <div class="media-left">
    <button class="pet-delete btn btn-xs btn-danger"  (click)="aptDelete(i)">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  </div>
  <div>
    <span class="pet-name">{{ item.petName}}</span>
    <span class="apt-date pull-right" [style.color]="ifExpired(item) ? '#d43f3a' : '' " [style.text-decoration]="ifExpired(item) ? 'line-through' : '' ">{{ item.aptDate + "  "+item.aptTime}}</span>
    <!-- <span class="apt-date pull-right" *ngIf="ifExpired(i)">Expired</span> -->
  </div>
  <div class="ownerName"><span class="label-item">Owner: </span>
  {{ item.petOwner }}
  </div>
  <div class="apt-notes">{{ item.aptNotes }}</div>
</li>
