<li class="media" *ngFor="let i of data">
  <div class="media-left">
    <button class="pet-delete btn btn-xs btn-danger" (click)="deleteData()">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  </div>
  <div>
    <span class="pet-name">{{ i.petName}}</span>
    <span class="apt-date pull-right">{{ i.aptDate + "  "+i.aptTime}}</span>
  </div>
  <div class="ownerName"><span class="label-item">Owner: </span>
  {{ i.petOwner }}
  </div>
  <div class="apt-notes">{{ i.aptNotes }}</div>
</li>
