footer {
  margin-top: 40px;
  padding-top: 20px;
  height: 200px;
  background-color: #089de3;
}
footer h5 {
  margin: 0;
  color: white;
  margin-bottom: 10px;
}
footer .footer-links li {
  list-style: none;
  float: right;
}
footer .footer-links li a {
  text-decoration: none;
  color: white;
  transition: color 0.5s ease;
}
footer .footer-links li a:hover {
  color: #FF634D;
}
footer .footer-links li a:first-child {
  margin-right: 10px;
}
@media only screen and (max-width: 450px) {
  footer .footer-links li {
    float: left;
    text-transform: center;
  }
}
