
.navbar {
    border-radius: 0;
    padding: 10px 10px;
    margin-bottom: 40px;
}

a {
  text-decoration: none;
  font-family: 'montserrat';
}

img#pet-icon {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.navbar .navbar-left {
  color: #ffffff;
  font-size: 20px;
}

nav.navbar.navbar-inverse {
  background-color: #089de3;
  border: #089de3;
}
ul li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  transition: color 0.3s ease-in-out;
  -webkit-ransition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
}
ul.nav.navbar-nav.navbar-right li a:hover {
  color: #FF634D;
}
ul li a.active {
  color: #ff634d;
  border-radius: 3px;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background-color: #FF634D;
}
.navbar-inverse .navbar-toggle {
  border-color: #fff;
}
