/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'montserrat';
  src: url('./assets/montserrat/Montserrat-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('./assets/montserrat/Montserrat-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'montserrat';
}
